body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #4a148c, #c56cd6);
  color: white;
  margin: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-gap: 10px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.square {
  width: 120px;
  height: 120px;
  background-color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  cursor: pointer;
  user-select: none;
  color: #333;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.square:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
}

.status {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

button {
  padding: 12px 24px;
  font-size: 1.2em;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #367c39;
  transform: scale(1.05);
}

.winner {
  color: green;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.square.x {
  color: #e91e63;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.square.o {
  color: #2196f3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.input-name {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
	margin-bottom: 10px;
  color: #333;
}

.input-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.input-button:hover {
    background-color: #333;
}

.score {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.overall-winner {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: gold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

@media (max-width: 600px) {
  .board {
    margin: 0 auto; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
    width: 100%;
    padding: 10px;
  }

.square {
    width: 100%;
    font-size: 2em;
  }
}
